<html lang="pt-br" xsi=schemaLocation="http://www.thymeleaf.org">

<head>

<meta name="viewport" content="width=width-device, initial-scale=1.0">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="css/login.css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<title>Login Usuário</title>

</head>

<body>

</body>

</html>